.App {
  height: 100vh;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-details-container{
  padding: 1rem;
  border: 2px solid rgb(15, 130, 212);
  width: 50%;
  
}

.user-details-container .input-control{
    width: 100%;
    margin: 1rem 0rem;
    /* background-color: blueviolet; */
}
.user-details-container input ,label{
  display: block;
  width: 100%;
}
.user-details-container input{
  padding: 0.5rem 0rem;
}
.btn-control{
  text-align: right;
}
.btn-control #next{
background-color: rgb(0, 166, 255);
padding: 0.5rem 1rem;
}




.personal-details-container{
  padding: 1rem;
  border: 2px solid rgb(15, 130, 212);
  width: 50%;
 
}
.personal-details-container form  .first-last-container{
  display: flex;
  gap: 1rem;
 
}
.personal-details-container input,label{
  width: 100%;
  padding: 0.5rem 0rem;
  font-size: 1rem;
}
.personal-details-container .btn-box{
  display: flex;
  justify-content: space-between;
  margin: 1rem 0rem;
}
.personal-details-container .btn-box button{
    padding: 0.5rem 1rem;
    font-size:1rem;
    background-color: rgb(64, 146, 229);
}

.description-page{
    padding: 1rem;
  border: 2px solid rgb(15, 130, 212);
  width: 50%;

}
.description-page .btn-box{
  display: flex;
  justify-content: space-between;
}
.description-page .btn-box button{
  background-color: rgb(56, 128, 221);
  padding: 0.5rem 0.8rem;
}